:root{
  --backgroundColor: #F2F5F7;
  --baseColor: #505D68;
  --borderColor: #424B5A;
  --boxBorderColor: #F6F6FE;
  --purple: #7A17BF;
  --white: #fff;
  --black: #000;
  /*animate*/
  --animate: 500ms;
}
